version: '3.4'

services:
  division-microservice:
    image: ${DOCKER_REGISTRY-}divisionmicroservice
    container_name: divisionmicroservice
    restart: always
    build:
      context: ./division-microservice/
    environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - DB_Password=${DB_PASS}
        - InternalServiceKey=${InternalServiceKey}
        - Auth0Domain=${Auth0Domain}
        - Auth0Audience=${Auth0Audience}
    depends_on:
      - db

  smiteapi-microservice:
    image: ${DOCKER_REGISTRY-}smiteapimicroservice
    container_name: smiteapimicroservice
    restart: always
    build:
      context: ./smiteapi-microservice/
    environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - DB_Password=${DB_PASS}
        - Smite_Api_DevId=${DevId}
        - Smite_Api_AuthKey=${AuthKey}
        - InternalServiceKey=${InternalServiceKey}
        - Auth0Domain=${Auth0Domain}
        - Auth0Audience=${Auth0Audience}
    depends_on:
      - db

  stat-microservice:
    image: ${DOCKER_REGISTRY-}statmicroservice
    container_name: statmicroservice
    restart: always
    build:
      context: ./stat-microservice/
    environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - DB_Password=${DB_PASS}
        - InternalServiceKey=${InternalServiceKey}
        - Auth0Domain=${Auth0Domain}
        - Auth0Audience=${Auth0Audience}
        - smtpMail=${smtpMail}
        - smtpMailPass=${smtpMailPass}
        - smtpHost=${smtpHost}
        - smtpHostPort=${smtpHostPort}
    depends_on:
      - db

  team-microservice:
    image: ${DOCKER_REGISTRY-}teammicroservice
    container_name: teammicroservice
    restart: always
    build:
      context: ./team-microservice/
    environment:
        - ASPNETCORE_ENVIRONMENT=Production
        - DB_Password=${DB_PASS}
        - InternalServiceKey=${InternalServiceKey}
        - Auth0Domain=${Auth0Domain}
        - Auth0Audience=${Auth0Audience}
    depends_on:
      - db
    volumes:
      - ./team-microservice/images:/app/images
      

  ocelot-api-gateway:
    image: ${DOCKER_REGISTRY-}ocelotapigateway
    container_name: ocelotapigateway
    build:
      context: ./ocelot-api-gateway/
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTPS_PORT=443
      - Domain=${Domain}
    restart: always
    ports:
        - 80:80
        - 443:443
    depends_on:
      - division-microservice
      - smiteapi-microservice
      - team-microservice

  nodeschedule-microservice:
    image: ${DOCKER_REGISTRY-}nodeschedulemicroservice
    container_name: nodeschedulemicroservice
    build:
      context: ./nodeschedule-microservice/
    restart: always
    environment:
      PORT: 80
      TZ: UTC
      API_URL: http://smiteapi-microservice
    depends_on:
      - smiteapi-microservice

  db:
    image: mysql:8.0.22
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
        # So you don't have to use root, but you can if you like
        # MYSQL_USER: 'user'
        # MYSQL_PASSWORD: ${DB_PASS}
        # Password for root access
        MYSQL_ROOT_PASSWORD: ${DB_PASS}
    volumes:
        - ./db/mysql/init:/docker-entrypoint-initdb.d/:ro
