@import "standing.css";
@import "matchdetails.css";
@import "teamstats.css";
@import "playerstats.css";
@import "pickpercentage.css";
@import "stats.css";
@import "captain.css";
@import "navbar.css";
@import "admin.css";


/* Font setup */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto-Bold'), url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto' !important;
}

html,
body,
body > div:first-child,
div#__next{
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

#__next-prerender-indicator {
  display: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  white-space: nowrap;
  line-height: 59px; /* Vertically center the text there */
  margin-top: 5%;
}


/*Custom CSS*/
.fullBG {
    background-image: url("/images/dark_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.halfTransparent {
    background: rgba(255,255,255,0.8);
}

.btn-huge {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .LeaderboardStatText {
      margin: 0;
      font-size: 0.86vw;
    }
    .LeaderBoardTitleText {
      font-size: 1vw;
    }
}

@media (max-width: 767.98px) {
    .errspan {
        margin-top: -24px;
    }
    .adminlog {
        height: auto !important;
    }
    .footertext {
        font-size: 10px;
    }
    .footer {
      margin-top: 5%;
    }

    .smallText {
      font-size: 4vw;
    }

    /* .landingTitle {
      font-size: 10vw;
    } */
}

/*faq page*/
.faq-banner {
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/images/thoth_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.news-banner {
  height: 300px;
}

.news-banner-preview {
  height: 300px;
  width:480px;
  object-fit: cover;
}

.news-bannerimg {
  object-fit: cover;
  object-position: center;
  filter: brightness(60%);
}

/*leaderboard page*/
.LeaderboardCard {
  font-size: 0.8rem;
}

.newsimg {
  height: auto;
  width: auto;
}

.newsimg2 {
  height: 200px;
  object-fit: cover;
}

.subrule {
  padding-left: 0.5vw;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.MhTeamImg {
  height: 70px;
  width: 70px;
}

.Clickable {
  cursor: pointer;
}

.Hoverable:hover {
  color: rgba(0,0,0,.7);
}

.Disabled {
  cursor: not-allowed !important;
}

.newsArticle:hover .newsArticleImg,
.newsArticle:focus .newsArticleImg {
  transform: scale(1.2);
}

.newsArticleImg {
  transition: all .5s;
}

textarea {
  resize: none;
}

.articleDesc {
  height: 90px !important;
}

.articleContent {
  height: 300px !important;
}

.previewButton {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}