@import "standing.css";
@import "matchdetails.css";
@import "teamstats.css";
@import "playerstats.css";
@import "pickpercentage.css";
@import "stats.css";
@import "captain.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important; font-weight:400 !important; font-style:regular !important;
}

html,
body,
body > div:first-child,
div#__next{
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

#__next-prerender-indicator {
  display: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  white-space: nowrap;
  line-height: 59px; /* Vertically center the text there */
  margin-top: 5%;
}


/*Custom CSS*/
.fullBG {
    background-image: url("/images/dark_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.halfTransparent {
    background: rgba(255,255,255,0.8);
}

.btn-huge {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .LeaderboardStatText {
      margin: 0;
      font-size: 0.86vw;
    }
    .LeaderBoardTitleText {
      font-size: 1vw;
    }
}

@media (max-width: 767.98px) {
    .errspan {
        margin-top: -24px;
    }
    .adminlog {
        height: auto !important;
    }
    .footertext {
        font-size: 10px;
    }
    .footer {
      margin-top: 5%;
    }
}

/*faq page*/
.faq-banner {
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(/images/thoth_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*leaderboard page*/
.LeaderboardCard {
  font-size: 0.8rem;
}

.newsimg {
  height: auto;
  width: auto;
}

.subrule {
  padding-left: 0.5vw;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.MhTeamImg {
  height: 70px;
}

.Clickable {
  cursor: pointer;
}

.Disabled {
  cursor: not-allowed;
}