#TeamTable {
  margin-bottom: 0.5rem !important;
}

#TeamTable > thead > tr > th {
    border: none !important;
    /* padding: 1rem !important; */
}

@media (max-width: 768px) {
    #TeamTable {
      font-size: 10px;
    }
    #TeamTable > tbody > tr > td {
      font-size: 10px;
    }
  }

  @media (max-width: 769px) {
    .ItemImg {
      height: 1.3vw;
      width: 1.3vw;
    }
  }

  #TeamTable > tbody > tr > td {
    padding: 0.25rem;
    vertical-align: middle;
  }

  #TeamTable > thead > tr > th {
    color: white;
    font-weight: 600;
  }

/* remove the ugly border color from the standard rable rows */
.table-success, .table-success>td, .table-success>th {
  border-color: #c3e6cb !important;
}
.table-success2, .table-success2>td, .table-success2>th {
  border-color: #e7f9eb !important;
}
.table-danger, .table-danger>td, .table-danger>th {
  border-color: #f5c6cb !important;
}
.table-danger2, .table-danger2>td, .table-danger2>th {
  border-color: #f9e7ec !important;
}
/* Custom table row colors */
.table-success2 {
  background: #e7f9eb;
}
.table-danger2 {
    background: #f9e7ec;
}

.GodImg {
    height: 30px;
  }

  .ItemImg {
    height: 25px;
    width: 25px;
  }

.KDAPadding {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.TotalKillsTop {
  align-self: flex-end;
  text-align: end;
}

@media (min-width: 768px) {
  .TotalGoldBottom {
    text-align: end;
  }
}

.TeamLogo {
  height: 50px;
  width: 50px;
}

.NotPlayedText {
  margin-top: 15%;
  margin-bottom: 50%;
}

/* custom colors for the pill tabs */
#pillNav .nav-link {
  color: slategrey;
  text-decoration: none;
  background-color: transparent;
}

#pillNav  .nav-link:hover {
  color: darkslategrey;
  text-decoration: none;
  background-color: transparent;
}

#pillNav .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: slategrey;
}


  /* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: green; 
 } */