name: Deploy containerized back-end to DO

on:
  push:
    branches: 
      - master
    paths:
      - smitenoobleague-microservices/**
  pull_request:     
    branches: 
      - master
    paths:
      - smitenoobleague-microservices/**

jobs:
  test:

      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.301
      - name: Install dependencies
        run: |
          cd smitenoobleague-microservices 
          dotnet smitenoobleague-microservices.sln
      - name: Build
        run: |
          cd smitenoobleague-microservices
          dotnet build --configuration Release --no-restore smitenoobleague-microservices.sln
      - name: Test
        run: |
          cd smitenoobleague-microservices
          dotnet test smitenoobleague-microservices.sln
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: copy files via sshkey
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSHKEY }}
        passphrase: ${{ secrets.SSHPASS }}
        port: ${{ secrets.PORT }}
        source: "./smitenoobleague-microservices/."
        target: "/opt/app/"

    - name: Executing remote  command
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        port: ${{ secrets.PORT }}
        passphrase: ${{ secrets.SSHPASS }}
        key: ${{ secrets.SSHKEY }}
        script: |
          cd /opt/app/smitenoobleague-microservices
          docker-compose down
          docker-compose build
          docker-compose -f docker-compose.yml -f prod.yml up -d
